.upload-container {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: 100%;
}
.upload-container h2 {
  margin: 0 0 10px;
  font-size: 1.5em;
}
form {
  width: 100%;
  text-align: left;
}
.form-control {
  padding-left: 5px;
}
input {
  width: 100%;
  height: 5vh;
  padding-left: 5px;
}
select {
  width: 100%;
  height: 5vh;
}
.upload-container input[type="file"] {
  margin: 10px 0;
}
.upload-container button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}
.upload-container button:hover {
  background-color: #45a049;
}
.preview {
  margin-top: 20px;
}
video {
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
}
